<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn-success">Add</button>
          <button class="btn-danger">Delete</button>
          <button class="btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
