<hr>
<div class="row">
  <div class="cols-xs-12">
    <button type="button" class="btn-primary" (click)="onStart()">Start</button>
    <button type="reset" class="btn-danger" (click)="pauseGame()">Stop</button>
  </div>

</div>
