<!-- <h1>{{title}}</h1>-->
<!-- <app-heroes></app-heroes>-->
<!-- <app-server></app-server>-->


<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
  <div class="row">
    <div class="cols-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
      <app-even *ngFor="let num of evenNums" [evenNumber]="num"></app-even>
      <app-odd *ngFor="let num of oddNums" [oddNumber]="num"></app-odd>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
