<p>Two way data binding</p>

<!--<input  type="text" [(ngModel)]="username">-->
<!--<p>{{username}}</p>-->
<!--<button class="btn btn-primary"-->
<!--  [disabled]="username===''"-->
<!--  (click)="notNull()">Reset username-->
<!--</button>-->
<!--<hr>-->

<!--<button (click)="toggling()" >Display Details</button>-->
<!--<div *ngFor="let logItem of log">{{log}}</div>-->
<!--<p *ngIf="para">be happy</p>-->

